body {
    margin: 0px;
    height: 100vh;
    background-image: url('img/background/background.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    font-family: 'Joti One';
    font-style: normal;
}

.d-none {
    display: none !important;
}

.z-index1 {
    z-index: 1;
}

.screens{
    position: relative;
}

.gamefield {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

canvas {
    display: block;
}

.game-headline {
    text-align: center;
    margin-top: 95px;
}

.game-headline h1 {
    color: black;
    font-size: 50px;
}

.start-screen {
    height: 480px;
    width: 720px;
    position: absolute;
}

.start-screen img {
    height: 100%;
    width: 100%;
}

.end-screen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
}

.end-screen img {
    height: 100%;
    width: 100%;
}

.how-to-play {
    height: 480px;
    width: 720px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background: url('img/background/background.png');
    background-position: center;
    z-index: 1;
}

.how-to-play div span {
    color: white;
    font-size: 30px;
}

.game-tipp {
    text-align: center;
    width: 80%;
    font-size: 20px;
}

.how-to-play-buttons {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}

.how-to-play-buttons-mobile {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}

.how-to-play-keys {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.how-to-play-keys-mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    margin-bottom: 0px;
    cursor: pointer;
}

.close-img {
    height: 35px !important;
    width: 35px !important;
    filter: brightness(0%) !important;
    cursor: pointer;
}

.how-to-play img {
    height: 75px;
    width: 75px;
    margin-bottom: 15px;
    filter: brightness(0) invert(1);
}

.main-hub {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 720px;
    margin-top: 575px;
}

.hub img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.guide-mute img:first-child {
    padding-right: 8px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.start-game-btn button {
    border-radius: 8px;
    border: none;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    background: #fcd96d;
    font-family: 'Joti One';
    font-style: normal;
    transition: all 225ms ease-in-out;
}

.start-game-btn button:hover {
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
}

/*SMARTPHONES*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .start-screen{
        width: 100%;
    }

    .how-to-play{
        width: 100%;
    }
}

/*SMARTPHONES*/
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media only screen and (max-width: 600px){
    .how-to-play img{
        height: 45px;
        width: 45px;
    }

    .how-to-play div span{
        font-size: 18px;
    }

    .start-game-btn button{
        width: 115px;
        font-size: 14px;
    }

    .start-game-btn {
        padding-left: 8px;
    }

    .guide-mute{
        display: flex;
        align-items: center;
        height: 100%;
    }

    .guide-mute img{
        height: 35px !important;
        width: 35px !important;
        padding-right: 8px !important;
    }
}

@media only screen and (max-width: 370px){
    .game-headline h1{
        font-size: 35px;
    }

    .how-to-play img{
        height: 35px;
        width: 35px;
    }

    .how-to-play div span{
        font-size: 14px;
    }

    .start-game-btn button{
        width: 100px;
        font-size: 12px;
    }

    .start-game-btn {
        padding-left: 8px;
    }

    .guide-mute{
        display: flex;
        align-items: center;
        height: 100%;
    }

    .guide-mute img{
        height: 25px !important;
        width: 25px !important;
        padding-right: 8px !important;
    }
}

/*SMARTPHONES IN SIDE MODE*/

@media only screen and (max-width: 915px) and (max-height: 480px) {
    canvas{
        height: 100vh !important;
        width: 100vw !important;
    }

    .main-hub {
        display: none;
    }

    .hub {
        display: none;
    }

    .mobile-movement {
        display: flex !important;
        position: absolute;
        bottom: 5px;
        left: 5px;
    }

    .mobile-movement img {
        height: 45px;
        width: 45px;
        margin-right: 8px;
        filter: brightness(0) invert(1);
    }

    .mobile-doge-attack {
        display: flex !important;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }

    .mobile-doge-attack img {
        height: 45px;
        width: 45px;
        margin-left: 8px;
        filter: brightness(0) invert(1);
    }

    .mobile-start-game {
        display: flex !important;
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 1;
    }

    .mobile-start-game img {
        height: 45px;
        width: 45px;
        filter: brightness(0) invert(1);
    }

    .mobile-guide-mute {
        display: flex !important;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .mobile-guide-mute img {
        height: 45px;
        width: 45px;
        margin-left: 8px;
        filter: brightness(0) invert(1);
    }

    .game-headline {
        display: none;
    }

    .start-screen{
        height: 100vh;
        width: 100%;
    }

    .how-to-play{
        height: 100%;
        width: 100%;
    }

    .how-to-play-mobile{
        height: 100%;
        width: 100%;
    }
}