body{
    margin: 0px;
    height: 100vh;
    background-image: url('img/background/background.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    font-family: 'Joti One';
    font-style: normal;
}

.d-none{
    display: none !important;
}

.gamefield{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

canvas {
    display: block;
}

.game-headline{
    text-align: center;
    margin-top: 95px;
}

.game-headline h1{
    color: black;
    font-size: 50px;
}

.start-screen{
    height: 480px;
    width: 720px;
    position: absolute;
}

.start-screen img{
    height: 100%;
    width: 100%;
}

.end-screen{
    height: 480px;
    width: 720px;
    position: absolute;
}

.end-screen img{
    height: 100%;
    width: 100%;
}

.how-to-play{
    height: 480px;
    width: 720px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url('img/background/background.png');
    background-position: center;
    z-index: 1;
}

.how-to-play div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-to-play div span{
    color: white;
    font-size: 30px;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    margin-bottom: 0px;
    cursor: pointer;
}

.close-img{
    height: 35px !important;
    width: 35px !important;
    filter: brightness(0%) !important;
    cursor: pointer;
} 

.how-to-play img{
    height: 75px;
    width: 75px;
    margin-bottom: 15px;
    filter: brightness(0) invert(1);
}

.main-hub{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 720px;
    margin-top: 575px;
}

.hub img{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.guide-mute img:first-child{
    padding-right: 8px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.start-game-btn button{
    border-radius: 8px;
    border: none;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    background: #fcd96d;
    font-family: 'Joti One';
    font-style: normal;
    transition: all 225ms ease-in-out;
}

.start-game-btn button:hover{
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
}

/*SMARTPHONES*/ 
@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
    }
}

/*SMARTPHONES*/ 
@media only screen and (max-height: 480px){
    canvas{
        height: 100vh;
    }
}
