/* aclonica-regular - latin */
@font-face {
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/alconica/aclonica-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/alconica/aclonica-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/alconica/aclonica-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/alconica/aclonica-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/alconica/aclonica-v18-latin-regular.woff2') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/alconica/aclonica-v18-latin-regular.svg#Aclonica') format('svg'); /* Legacy iOS */
  }